.modal-dialog {
	height: 94%;
	width: auto;
}

.modal-dialog img {
	height: 100%;
	margin: 0 auto;
}

.modal-dialog .modal-content {
	background-color: transparent;
	border-radius: 40px;
	width: auto;
	height: 100%;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.img-rounded {
	border-radius: 6%;
}