<div class="well">
	<strong>How to use:</strong>
	<p>Filter cards shown with the filter-dropdowns, or/and search field. Scrolling to the bottom of the list will reveal a "Show more" button that will load the next set of cards from the database.</p>
	<p><i>Clicking a card will show the full card image in a pop-over. To exit the pop-over, press escape.</i></p>
</div>
<form role="form" class="form-inline">
	<div class="form-group">
		<div class="btn-group form-group">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle">
					{{ type }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a ng-click="filterType('Type')">Type</a></li>
					<li class="divider"></li>
					<li><a ng-click="filterType('Artifact')">Artifact</a></li>
					<li><a ng-click="filterType('Creature')">Creature</a></li>
					<li><a ng-click="filterType('Enchantment')">Enchantment</a></li>
					<li><a ng-click="filterType('Instant')">Instant</a></li>
					<li><a ng-click="filterType('Land')">Land</a></li>
					<li><a ng-click="filterType('Planeswalker')">Planeswalker</a></li>
					<li><a ng-click="filterType('Sorcery')">Sorcery</a></li>
					<!--
					<li><a ng-click="filterType('Tribal')">Tribal</a></li>
					<li class="disabled"><a class="pull-left"><small>- Phenomena -</small></a></li>
					<li><a ng-click="filterType('Schemes')"><small class="glyphicon glyphicon-chevron-right text-muted"></small> Schemes</a></li>
					<li><a ng-click="filterType('Vanguard')"><small class="glyphicon glyphicon-chevron-right text-muted"></small> Vanguard</a></li>
					<li class="disabled"><a class="pull-left"><small>- Supertype -</small></a></li>
					<li><a ng-click="filterType('Basic')"><small class="glyphicon glyphicon-chevron-right text-muted"></small> Basic</a></li>
					<li><a ng-click="filterType('Legendary')"><small class="glyphicon glyphicon-chevron-right text-muted"></small> Legendary</a></li>
					<li><a ng-click="filterType('Snow')"><small class="glyphicon glyphicon-chevron-right text-muted"></small> Snow</a></li>
					<li><a ng-click="filterType('World')"><small class="glyphicon glyphicon-chevron-right text-muted"></small> World</a></li>
					-->
				</ul>
			</div>

			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle">
					{{ colors }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a ng-click="filterColors('Color')">Color</a></li>
					<li class="divider"></li>
					<li><a ng-click="filterColors('Neutral')">Neutral</a></li>
					<li class="divider"></li>
					<li><a ng-click="filterColors('Black')">Black</a></li>
					<li><a ng-click="filterColors('Blue')">Blue</a></li>
					<li><a ng-click="filterColors('Green')">Green</a></li>
					<li><a ng-click="filterColors('Red')">Red</a></li>
					<li><a ng-click="filterColors('White')">White</a></li>
				</ul>
			</div>

			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle">
					{{ rarity }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a ng-click="filterRarity('Rarity')">Rarity</a></li>
					<li class="divider"></li>
					<li><a ng-click="filterRarity('Common')">Common</a></li>
					<li><a ng-click="filterRarity('Uncommon')">Uncommon</a></li>
					<li><a ng-click="filterRarity('Rare')">Rare</a></li>
					<li><a ng-click="filterRarity('Mythic rare')">Mythic rare</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="form-group">
		<input ng-model="search" type="text" placeholder="Search" ng-change="cardSearch()" class="form-control col-md-8">
	</div>
</form>
<br />
<div class="row" ng-cloak>
	<div class="col-md-3 col-sm-4" ng-repeat="card in cards track by $index">
		<div class="thumbnail">
			<a ng-click="openModal(card.id)">
				<strong class="card-title">{{ card.title }}</strong>
				<img class="img-rounded card" ng-src="{{ card.image }}" alt="{{ card.title }}">
			</a>
		</div>
	</div>
</div>
<div class="row-fluid">
	<button ng-show="loaded" type="button" class="btn col-md-12" ng-click="loadNextBatch()">Load more</button>
</div>